---
layout: default
title: Blog
---
<div id="posts" class="content">
  {% for post in site.posts offset: 0 limit: 5 %}
  <section class="fullpost">
    <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
    <div class="postdate">
      <hr>
      {{ post.date | date: "%b %d, %Y" }}
      <hr>
    </div>
    <div class="postcontent">
      {{ post.content }}
    </div>
    
    <div class="posttags">
      {% if post.tags == empty %}
      No tags. 
      {% else %}
      Filed under {{ post.tags | array_to_sentence_string }}.
      {% endif %}
    </div>
  </section>
  <div class="breaker"></div>
  {% endfor %}
</div>
