@font-face {
    font-family: "LinuxLibertine";
    src: url("/res/font/LinLibertine_DRah.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: creativecommons;
    src: url("/res/font/cc-icons.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/*
@font-face {
    font-family: "LinuxLibertine";
    src: url("/res/font/LinLibertine_Rah.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "LinuxLibertine";
    src: url("/res/font/LinLibertine_RIah.ttf") format("truetype");
    font-style: italic:
    font-weight: normal;
}

@font-face {
    font-family: "LinuxLibertine";
    src: url("/res/font/LinLibertine_RBah.ttf") format("truetype");
    font-style: normal;
    font-weight: bold;
}
*/
@font-face {
    font-family: "Inconsolata";
    src: url("/res/font/Inconsolata.ttf") format("truetype");
    src: url("/res/font/Inconsolata.otf") format("opentype");
}

body {
    font-size: 20px; /* fallback in case viewport resizing is not supported */
    font: 1.5vw/1.5 LinuxLibertine, verdana, helvetica-neue, helvetica, arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    background: #777777;
    color: #111111;
    margin: 0;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
}

body.photo {
    background: #77777;
}

a {
    text-decoration: none;
}

a.active {
    font-weight: bold;
}

h1,h2,h3,h4,h5,h6 {
    font-family: LinuxLibertine, verdana, helvetica-neue, helvetica, arial, sans-serif;
    font-weight:normal;
    color:#111111;
    text-rendering: optimizelegibility;
    margin: 0;
}

h1, h2 { font-size: 200%; }
h3 { font-size: 160%; }
h4 { font-size: 140%; }
h5 { font-size: 120%; }
h6 { font-size: 110%; }

header {
    width: 80%;
    height: 8em;
    margin: 0 auto;
    position: relative;
}

header h1 {
    float: left;
    margin: 1.5em 0 0 0;
    display: inline;
}

header a {
    color: #ccc;
}

header a:hover {
    color: #ececec;
}

header h1 a {
    color: #000000;
}

header h1 a:hover {
    color: #000000;
}

header ul.navigation {
    display: inline;
    text-align: left;
    float: right;
    font-family: LinuxLibertine, verdana, helvetica-neue, helvetica, arial, sans-serif;
    margin: 4em 0 0 0;
}

header ul.navigation li {
    display: inline-block;
    list-style: none;
    margin-left: 0.5em;
}

#main {
    width: 80%;
    margin: 0 auto;
    background: #eeeeee;
}

#main h1 a {
    color: #000000;
}

#main h1 a:visited {
    color: #000000;
}

#main h1 a:hover {
    color: #000000;
}

#main a {
    color: #1533ad;
}

#main a:visited {
    color: #6f83d6;
}

#main a:hover {
    color: #4965d6;
}

#main.photo {
    width: 100%;
}

code.has-jax {font: inherit; font-size: 100%; background: inherit; border: inherit;}

.MathJax {
    color: #000000 !important;
    font-size: 100%;
}

.MathJax span {
    font-size: 100%;
}

.nonpost {
    padding: 5% 7%;
}

#photoindex.content {
    padding: 4% 5%;
}

.fullpost {
    padding: 5% 7%;
}

.postdate {
    color: #aaaaaa;
    font-size: 90%;
}

.postcontent img {
    max-width: 100%;
}

pre {
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

code {
    font-size: 16px; /* fallback in case viewport resizing is not supported */
    font: 1.2vw/1.5 Inconsolata, monospace;
}

.highlight {
    background: #dddddd;
    margin: 0 2% 0 2%;
}

div#about.nonpost img {
    max-width: 30%;
    padding: 0 0 7% 7%;
}

div#photoindex {
    padding: 5%;
}

div.cats {
}

div.photocategory img {
    float: left;
    width: 29.2em;
    min-height: 19.5em;
    padding: 1px;
}

/*
div#photoindex div.photocategory:hover a {
    opacity: 0.7;
}

div#photoindex div.photocategory:hover h1 a {
    opacity: 1;
}

div#photoindex div.photocategory:hover h1 {
    visibility: visible;
}*/

div#photoindex div.photocategory img:hover {
    opacity: 0.7;
}

div#photoindex div.photocategory img:hover ~ h1 {
    visibility: visible;
}

div#photo ul {
    list-style: none;
    padding: 0 2em;
}

div#photo ul li {
    float: left;
    padding: 1px;
}

div#photo img {
    width: 25em;
    min-height: 16.7em;
}

div#page-navigation {
    padding-top: 5%;
}

div#page-navigation div.right {
    float: right;
}

div#page-navigation div.left {
    float: left;
}

div.after {
    clear: both;
    padding: 3%;
}

div.postafter {
    clear: both;
}

/* This is way too hacky! Please find a way to do it properly! */
div.breaker {
    width: 100%;
    background: #777777;
    padding-top: 4%;
    padding-bottom: 4%;
    margin: 0 0 0 0;
}

footer {
    font-size: 0.7em;
    text-align: center;
}

footer a {
    color: #ececec;
}

footer a:hover {
    color: #ffffff;
}

span.cc {
    font: 1.3em creativecommons;
}


@media (min-width: 1300px) {
  body { font-size: 1.2em; }
  code { font-size: 1em; }
  #main { width: 50%; }
  header { width: 50%; }
}