---
layout: default
title: Blog
---
<div id="posts" class="content">
  {% for post in site.posts offset: 0 limit: 10 %}
  {% if post.type == "post" %}
  <section class="fullpost">
    <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
    <div class="postsubhead">
      {{ post.date | date: "%b %d, %Y" }} | 
      {% if post.tags == empty %}
      No tags. 
      {% else %}
      Tags: {{ post.tags | array_to_sentence_string }}.
      {% endif %}
    </div>

    <div class="postcontent">
      {{ post.content }}
    </div>
    
  </section>
  <div class="breaker"></div>
  {% endif %}
  {% endfor %}
</div>
